@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witamy!</h1>
    <p>Prosta aplikacja BeFit.</p>
    @if (User.Identity?.IsAuthenticated ?? false)
    {
            <p>Zalogowano jako: <strong>@User.Identity!.Name</strong></p>

        @if (User.IsInRole("Admin"))
        {
                    <p>Twoja rola w systemie: <span class="badge bg-danger">Administrator</span></p>
        }
        else
        {
                    <p>Twoja rola w systemie: <span class="badge bg-secondary">Zwykły użytkownik</span></p>
        }
    }
    else
    {
            <p>Nie jesteś zalogowany. <a asp-area="Identity" asp-page="/Account/Login">Zaloguj się</a> lub <a asp-area="Identity" asp-page="/Account/Register">zarejestruj</a>.</p>
    }

</div>
